 
# Visual Studio temporary files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/

# User-specific files
*.userprefs

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
.vscode/
